<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.satori.satoriservice.user.mapper.UserFriendRelMapper">

    <resultMap id="BaseResultMap" type="com.satori.satoriservice.user.entity.UserFriendRel">
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userFriendId" column="user_friend_id" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_friend_id,remark,
        deleted,create_time,update_time
    </sql>
    <select id="listFriend" resultType="com.satori.satoriservice.model.UserModel">
        select user.id as id,
               user.user_name as userName,
               user.nike_name as nikeName,
               user.user_email as userEmail,
               user.user_avatar as userAvatar,
               rel.create_time as createTime
        from user_friend_rel rel
                 left join user on user.id = rel.user_friend_id
        where rel.user_id = #{userId}
        union
        select user.id as id,
               user.user_name as userName,
               user.nike_name as nikeName,
               user.user_email as userEmail,
               user.user_avatar as userAvatar,
               rel.create_time as createTime
        from user_friend_rel rel
                 left join user on user.id = rel.user_id
        where rel.user_friend_id = #{userId}
    </select>
</mapper>
