<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.satori.service.content.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.satori.service.content.entity.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="contentId" column="content_id" jdbcType="BIGINT"/>
            <result property="createUserId" column="create_user_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content_id,create_user_id,
        parent_id,detail,deleted,
        create_time,update_time
    </sql>
</mapper>
