<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.satori.service.system.mapper.SysFileInfoMapper">

    <resultMap id="BaseResultMap" type="com.satori.service.system.entity.SysFileInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="sourceName" column="source_name" jdbcType="VARCHAR"/>
        <result property="reqUrl" column="req_url" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="BIGINT"/>
        <result property="privated" column="privated" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,source_name,req_url,
        create_user_id,private,create_time,
        update_time,deleted
    </sql>
</mapper>
