<configuration>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="app"/>
    <property name="logPath" value="${LOG_PATH:-/home/yanfuyou/logs}/satori"/>
    <property name="consoleLogPattern" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="fileLogPattern" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } - [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="LOG_FILE" value="LogFile" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${consoleLogPattern}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${serviceName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logPath}/bak/${serviceName}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 5GB total size -->
            <maxHistory>2</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${fileLogPattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.catalina.startup.DigesterFactory" level="INFO"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="INFO"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="INFO"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="INFO"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="INFO"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="INFO"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="INFO"/>
    <logger name="org.springframework.boot.actuate.endpoint.jmx" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>